* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 110vh;
  color: white;
}

body {
  background: url('../../public/background.png') no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

p{
  color: black;
}
